@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto;
  -ms-overflow-style: none;
  scrollbar-width: 0;
  background-color: var(--color-primary);
}

/* remove scrollbar */
body::-webkit-scrollbar {
  display: none;
}

/* add theme specific colors */
.light {
  --color-primary: #e1e1e1;
  --color-secondary: #f0f0f0;
  --color-text: #1d1d1d;
  --color-bgHolder: #f5f5f5;
}

.dark {
  --color-primary: #212121;
  --color-secondary: #151515;
  --color-text: #fff;
  --color-bgHolder: #424242;
}

/* add basic transition for theme change */
button[title]:hover::after,
a[title]:hover::after {
  content: attr(title);
  position: absolute;
  left: -10%;
  bottom: 100%;
  width: fit-content;
  color: var(--color-primary);
  background: var(--color-text);
  padding: 2px 7px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.9rem;
  opacity: 0.8;
}

button[title]:hover::after {
  bottom: 120%;
  left: -100% !important;
}

/* add basic transition for theme change */
* {
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  user-select: none !important;
}

/* remove tap highlight on mobile */
a {
  -webkit-tap-highlight-color: transparent;
}
